<h1>Register Here</h1>
<% if flash[:status] == TRUE %>
    <p> <%= flash[:alert] %></p>
<% elsif flash[:status] == FALSE %>
    <p> <%= flash[:alert].each do |error| %></p>
          <p> <%= error %>
      <% end %>
<% end %>
<%= form_for @user do |user| %>
    <body>
      <div>
      <%= user.label(:first_name, 'First Name') %>
      <%= user.text_field :first_name %>
      </div><div>
      <%= user.label(:last_name, 'Last Name') %>
      <%= user.text_field :last_name %>
      </div>
        <div>
        <%= user.label(:email, 'Email') %>
        <%= user.text_field :email %>
      </div>
      <div>
        <%= user.label(:password, 'Password') %>
        <%= user.password_field :password %>
        </div><div>
        <%= user.label(:password_confirmation, 'Re-enter Password') %>
        <%= user.password_field :password_confirmation %>
        </div>
      <div>
        <%= submit_tag 'Register' %>
      </div>

    </body>
<% end %>
